
@{
    ViewBag.Title = "Resolve case";
}

<div class="jumbotron bg-info">
    <h2 class="bg-primary text-center">@ViewBag.Title</h2>
</div>
<h1 class="bg-danger text-center">NOT IMPLEMENTED</h1>
<hr />
<div>
    <a href="javascript:window.history.back()" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
</div>

